<div class="card-box mb-30">
    <div class="pd-20">
        <a href="/admin/reservas/novo" class="btn btn-danger float-right">Nova Reserva <i class="fa fa-plus-circle"></i></a>
        <h1 class="text-blue h4">Reservas</h1>
    </div>
    <div class="pb-20">
        <table class="data-table table stripe hover nowrap">
            <thead>
                <tr>
                    <th class="table-plus datatable-nosort">Placa</th>
                    <th>Nome</th>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Criado em</th>
                    <th>Atualizado em</th>
                    <th class="datatable-nosort">Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="table-plus">1</td>
                    <td>Gloria F. Mead</td>
                    <td>11999999999</td>
                    <td>teste@gmail.com</td>
                    <td>29-03-2018</td>
                    <td>29-03-2018</td>
                    <td>
                        <div class="dropdown">
                            <a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                                <i class="dw dw-more"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                                <a class="dropdown-item" href="#"><i class="dw dw-edit2"></i> Editar</a>
                                <a class="dropdown-item" href="#"><i class="dw dw-delete-3"></i> Deletar</a>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>