<div class="card-box pd-20 height-100-p mb-30">
	<div class="row align-items-center">
		<div class="col-md-4">
			<img src="vendors/images/banner-img.png" alt="">
		</div>
		<div class="col-md-8">
			<h4 class="font-20 weight-500 mb-10 text-capitalize">
				Bem-vindo <div class="weight-600 font-30 text-blue"><%= user.first_name %> <%= user.last_name %></div>
			</h4>
			<p class="font-18 max-width-600">Por este painel você poderá administrar os veículos do estacionamento!</p>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xl-6 mb-30">
		<div class="card-box height-100-p widget-style1">
			<div class="d-flex flex-wrap align-items-center">
				<div class="progress-data">
					<div id="chart"></div>
				</div>
				<div class="widget-data">
					<div class="h4 mb-0">50</div>
					<div class="weight-600 font-14">Usuários</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-6 mb-30">
		<div class="card-box height-100-p widget-style1">
			<div class="d-flex flex-wrap align-items-center">
				<div class="progress-data">
					<div id="chart2"></div>
				</div>
				<div class="widget-data">
					<div class="h4 mb-0">100</div>
					<div class="weight-600 font-14">Reservas</div>
				</div>
			</div>
		</div>
	</div>
</div>